body {

}
.GridviewDiv {
    font-size: 100%;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helevetica, sans-serif;
    color: #303933;
}

.headerstyle {
    color: #FFFFFF;
    border-right-color: #abb079;
    border-bottom-color: #abb079;
    background-color: #df5015;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
}
