<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CONEXION_BANCASEGURO" connectionString="Data Source=SBOGDB12\SQL2012;Initial Catalog=BancaSeguros_SPRINT7;Persist Security Info=True;User ID=sa;Password=IG2014" providerName="System.Data.SqlClient" />-->
    <add name="CONEXION_BANCASEGURO" connectionString="Data Source=10.1.0.4\SQL2012;Initial Catalog=BANCASEGUROS_DESA;Persist Security Info=True;User ID=userBANCASEGUROS;Password=IG2019" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <!-- Datos Conexion LDAP-->
    <add key="Domain" value="bacpruebas" />
    <add key="LDAP" value="LDAP://10.60.3.145" />
    <add key="CN" value="Desa" />
    <add key="CN1" value="BancaSeguros" />
    <add key="CN2" value="Directores-Ofi" />
    <add key="" value="" />
    <add key="DAUser" value="cleyva" />
    <add key="DAPwd" value="banco*123" />

    <!-- Datos Aseguradora -->
    <add key="CreditoAseguradoraTipoIdentificacion" value="N" />
    <add key="CreditoAseguradoraIdentificacion" value="9002004353" />
    <add key="CreditoAseguradoraNumeroCuenta" value="308200005822" />
    <add key="CreditoAseguradoraCodigoProducto" value="3" />

    <!-- llaves Contexto Transaccional Cobis-->
    <add key="IdentificadorTransaccional" value="1775" />
    <add key="CodigoCanalOriginador" value="13" />
    <add key="CodigoProcesoOriginador" value="1" />
    <add key="CodigoFuncionalidadOriginador" value="1" />
    <add key="ipConsumidor" value="10.20.30" />

    <add key="RutaServicioTransaccion" value="http://10.60.3.150:9121/GerenciaDesembolsoActivas/Transaccion/SrvAplCobisTransaccionWSService" />
    <add key="RutaArchivos" value="\\10.75.9.5\igwebsites\BANCASEGUROS\Sprint3\Servicios\ArchivosPDF" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="20000000">
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SrvAplCobisClienteBindingSOAP12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisCuentaAhorrosBindingSOAP12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisCuentaCorrienteBindingSOAP12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisListasInhibitoriasBindingSOAP12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisTransaccionBindingSOAP12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.60.3.150:9121/GerenciaDesarrolloComercial/VinculacionClientes/SrvAplCobisClienteWSService" binding="customBinding" bindingConfiguration="SrvAplCobisClienteBindingSOAP12" contract="ServicioCobisCliente.SrvAplCobisCliente" name="SrvAplCobisClienteBindingSOAP12" />
      <endpoint address="http://10.60.3.150:9121/GerenciaProductosPasivos/UnidadProductosServiciosBancarios/SrvAplCobisCuentaAhorrosWSService" binding="customBinding" bindingConfiguration="SrvAplCobisCuentaAhorrosBindingSOAP12" contract="ServicioCobisCuentaAhorros.SrvAplCobisCuentaAhorros" name="SrvAplCobisCuentaAhorrosBindingSOAP12" />
      <endpoint address="http://10.60.3.150:9121/GerenciaProductosPasivos/CuentaCorriente/SrvAplCobisCuentaCorrienteWSService" binding="customBinding" bindingConfiguration="SrvAplCobisCuentaCorrienteBindingSOAP12" contract="ServicioCobisCuentaCorriente.SrvAplCobisCuentaCorriente" name="SrvAplCobisCuentaCorrienteBindingSOAP12" />
      <endpoint address="http://10.60.3.150:9121/GerenciaDesarrolloComercial/ListasInhibitorias/SrvAplCobisListasInhibitoriasWSService" binding="customBinding" bindingConfiguration="SrvAplCobisListasInhibitoriasBindingSOAP12" contract="ServicioCobisListasInhibitorias.SrvAplCobisListasInhibitorias" name="SrvAplCobisListasInhibitoriasBindingSOAP12" />
      <endpoint address="http://10.60.3.150:9121/GerenciaDesembolsoActivas/Transaccion/SrvAplCobisTransaccionWSService" binding="customBinding" bindingConfiguration="SrvAplCobisTransaccionBindingSOAP12" contract="ServicioCobisTransaccion.SrvAplCobisTransaccion" name="SrvAplCobisTransaccionBindingSOAP12" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
