<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" /> 
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.14.0" newVersion="4.2.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioGenerico" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IServicioSeguridad" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IServicioVenta" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="52428800"
          maxReceivedMessageSize="64000000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IServicioAdministracion" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IServicioControlDual" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IServicioVenta1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60524/Seguridad/ServicioSeguridad.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioSeguridad"
        contract="ServicioSeguridad.IServicioSeguridad" name="BasicHttpBinding_IServicioSeguridad" />
      <endpoint address="http://localhost:60524/Generico/ServicioGenerico.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioGenerico"
        contract="ServicioGenerico.IServicioGenerico" name="BasicHttpBinding_IServicioGenerico" />
      <endpoint address="http://localhost:60524/Administracion/ServicioAdministracion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAdministracion"
        contract="ServicioAdministracion.IServicioAdministracion" name="BasicHttpBinding_IServicioAdministracion" />
      <endpoint address="http://localhost:60524/ControlDual/ServicioControlDual.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioControlDual"
        contract="ServicioControlDual.IServicioControlDual" name="BasicHttpBinding_IServicioControlDual" />
      <endpoint address="http://localhost:60524/Venta/ServicioVenta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioVenta"
        contract="ServicioVenta.IServicioVenta" name="BasicHttpBinding_IServicioVenta" />
    </client>
    <!--<client>
      <endpoint address="http://10.75.9.5:8099/BANCASEGUROS/Dev/Services/Seguridad/ServicioSeguridad.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioSeguridad" contract="ServicioSeguridad.IServicioSeguridad" name="BasicHttpBinding_IServicioSeguridad" />
      <endpoint address="http://10.75.9.5:8099/BANCASEGUROS/Dev/Services/Administracion/ServicioAdministracion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAdministracion" contract="ServicioAdministracion.IServicioAdministracion" name="BasicHttpBinding_IServicioAdministracion" />
      <endpoint address="http://10.75.9.5:8099/BANCASEGUROS/Dev/Services/ControlDual/ServicioControlDual.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioControlDual" contract="ServicioControlDual.IServicioControlDual" name="BasicHttpBinding_IServicioControlDual" />
      <endpoint address="http://10.75.9.5:8099/BANCASEGUROS/Dev/Services/Generico/ServicioGenerico.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioGenerico" contract="ServicioGenerico.IServicioGenerico" name="BasicHttpBinding_IServicioGenerico" />
      <endpoint address="http://10.75.9.5:8099/BANCASEGUROS/Dev/Services/Venta/ServicioVenta.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioVenta" contract="ServicioVenta.IServicioVenta" name="BasicHttpBinding_IServicioVenta" />
    </client>-->
    <diagnostics wmiProviderEnabled="true">
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
       />
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"></remove>
      <remove fileExtension=".woff2"></remove>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- llaves Refresco Token en minutos-->
    <add key="MinimaVigenciaToken" value="3" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>