<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Datos Conexion LDAP-->
    <add key="Domain" value="bacpruebas" />
    <add key="LDAP" value="LDAP://10.60.3.145" />
    <add key="CN" value="Desa" />
    <add key="CN1" value="BancaSeguros" />
    <add key="CN2" value="Directores-Ofi" />
    <add key="" value="" />
    <add key="DAUser" value="yobeltra" />
    <add key="DAPwd" value="Banco2020" />
    <!-- Datos Aseguradora -->
    <add key="CreditoAseguradoraTipoIdentificacion" value="N" />
    <add key="CreditoAseguradoraIdentificacion" value="9002004353" />
    <add key="CreditoAseguradoraNumeroCuenta" value="308200005822" />
    <add key="CreditoAseguradoraCodigoProducto" value="3" />
    <!-- llaves Contexto Transaccional Cobis-->
    <add key="IdentificadorTransaccional" value="1775" />
    <add key="CodigoCanalOriginador" value="13" />
    <add key="CodigoProcesoOriginador" value="1" />
    <add key="CodigoFuncionalidadOriginador" value="1" />
    <add key="ipConsumidor" value="10.20.30" />
    <!-- llaves Contexto Transaccional API-->
    <add key="IdentificadorTransaccionalAPI" value="1775" />
    <add key="CodigoCanalOriginadorAPI" value="13" />
    <add key="CodigoProcesoOriginadorAPI" value="1" />
    <add key="CodigoFuncionalidadOriginadorAPI" value="67" />
    <add key="ipConsumidorAPI" value="10.20.30" />
    <!-- llaves Recaudos-->
    <add key="CodigoCanalRecaudo" value="4" />
    <add key="CodigoFormaPagoAHO" value="DAH" />
    <add key="CodigoFormaPagoCTE" value="DCC" />
    <add key="CodigoTipoProductoAHO" value="AHO" />
    <add key="CodigoTipoProductoCTE" value="CTE" />
    <!-- llaves Sincronizacion-->
    <add key="DiasAAnticipar" value="0" />
    <add key="DiasALlenar" value="750" />
    <add key="FechaControlSistema" value="19/01/2018 12:00:00 a.m." />
    <add key="RutaServicioTransaccion" value="http://10.60.3.150:8083/GerenciaDesembolsoActivas/Transaccion/SrvAplCobisTransaccionWSService" />
    <add key="RutaArchivos" value="http://10.75.9.5:8099/BANCASEGUROS/QA/Services/ArchivosPDF/" />
    <add key="RutaLocalArchivos" value="D:\IGWEBSITES\BANCASEGUROS\QA\Services\ArchivosPDF\" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="BuscarCatalogoOficina" value="http://10.60.3.154:8280/BuscarCatalogoOficina/opBuscarCatalogo" />
    <add key="ServicioSeguridadToken" value="http://10.75.9.50:8109/ListasInhibitorias/v1/srvAuthentication/OpLogin" />
    <add key="ServicioListaInhibitoria" value="http://10.75.9.50:8080/ListasInhibitoriasPruebas/ListasInhibitorias/v1/srvListaInhibitoria/OpConsultaListasInhibitorias/"/>
    <add key="PaginacionServicioCobis" value="40" />
    <add key="UltimoRegistroTexto" value="10" />
    <add key="CatalogoCodEstado" value="V" />
    <add key="CatalogoOficinaCodClase" value="F" />
    <!-- llaves Convenios-->
    <add key="Paginacion" value="10" />
    <add key="IsDummie" value="False" />

  </appSettings>
  <connectionStrings>
    <add name="CONEXION_BANCASEGURO" connectionString="Data Source=10.1.0.4\SQL2012;Initial Catalog=BANCASEGUROS_DESA;Persist Security Info=True;User ID=userBANCASEGUROS;Password=IG2019" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <!-- Add the inspector attribute as a behavior for displaying SOAP XML packets -->
      <behaviorExtensions>
        <add name="consoleOutputBehavior" type="WcfService1.ConsoleOutputBehaviorExtensionElement, WcfService1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="20000000">
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SrvAplCobisClienteBindingSOAP12" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisCuentaAhorrosBindingSOAP12" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisCuentaCorrienteBindingSOAP12" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisListasInhibitoriasBindingSOAP12" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisTransaccionBindingSOAP12" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisConvenioBindingSOAP12" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SrvAplCobisGeneralesBindingSOAP12" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.60.3.151:9083/GerenciaDesarrolloComercial/VinculacionClientes/SrvAplCobisClienteWSService" binding="customBinding" bindingConfiguration="SrvAplCobisClienteBindingSOAP12" contract="ServicioCobisCliente.SrvAplCobisCliente" name="SrvAplCobisClienteBindingSOAP12" />
      <endpoint address="http://10.60.3.151:9083/GerenciaDesarrolloComercial/ListasInhibitorias/SrvAplCobisListasInhibitoriasWSService" binding="customBinding" bindingConfiguration="SrvAplCobisListasInhibitoriasBindingSOAP12" contract="ServicioCobisListasInhibitorias.SrvAplCobisListasInhibitorias" name="SrvAplCobisListasInhibitoriasBindingSOAP12" />
      <endpoint address="http://10.60.3.151:9083/GerenciaProductosPasivos/CuentaAhorros/SrvAplCobisCuentaAhorrosWSService" binding="customBinding" bindingConfiguration="SrvAplCobisCuentaAhorrosBindingSOAP12" contract="ServicioCobisCuentaAhorros.SrvAplCobisCuentaAhorros" name="SrvAplCobisCuentaAhorrosBindingSOAP12" />
      <endpoint address="http://10.60.3.151:9083/GerenciaProductosPasivos/CuentaCorriente/SrvAplCobisCuentaCorrienteWSService" binding="customBinding" bindingConfiguration="SrvAplCobisCuentaCorrienteBindingSOAP12" contract="ServicioCobisCuentaCorriente.SrvAplCobisCuentaCorriente" name="SrvAplCobisCuentaCorrienteBindingSOAP12" />
      <endpoint address="http://10.60.3.151:9083/GerenciaDesembolsoActivas/Transaccion/SrvAplCobisTransaccionWSService" binding="customBinding" bindingConfiguration="SrvAplCobisTransaccionBindingSOAP12" contract="ServicioCobisTransaccion.SrvAplCobisTransaccion" name="SrvAplCobisTransaccionBindingSOAP12" />
      <endpoint address="http://10.60.3.151:9083/GerenciaDesembolsoActivas/Convenios/SrvAplCobisConvenioWSService" binding="customBinding" bindingConfiguration="SrvAplCobisConvenioBindingSOAP12" contract="ServicioCobisConvenio.SrvAplCobisConvenio" name="SrvAplCobisConvenioBindingSOAP12" />
      <endpoint address="http://10.60.3.151:9083/GerenciaDesarrolloTIC/SrvAplCobisGeneralesWSService" binding="customBinding" bindingConfiguration="SrvAplCobisGeneralesBindingSOAP12" contract="ServicioCobisCatalogos.SrvAplCobisGenerales" name="SrvAplCobisGeneralesBindingSOAP12" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="Inicio.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>