<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SrvAplCobisCuentaAhorrosBindingSOAP11" />
                <binding name="SrvAplCobisCuentaCorrienteBindingSOAP11" />
                <binding name="SrvAplCobisListasInhibitoriasBindingSOAP11" />
                <binding name="SrvAplCobisTransaccionBindingSOAP11" />
                <binding name="SrvAplCobisClienteBindingSOAP11" />
                <binding name="SrvAplCobisConvenioBindingSOAP11" />
                <binding name="SrvAplCobisGeneralesBindingSOAP11" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SrvAplCobisClienteBindingSOAP12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SrvAplCobisCuentaAhorrosBindingSOAP12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SrvAplCobisCuentaCorrienteBindingSOAP12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SrvAplCobisListasInhibitoriasBindingSOAP12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SrvAplCobisTransaccionBindingSOAP12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SrvAplCobisConvenioBindingSOAP12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SrvAplCobisGeneralesBindingSOAP12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://10.60.3.150:9121/GerenciaProductosPasivos/UnidadProductosServiciosBancarios/SrvAplCobisCuentaAhorrosWSService"
                binding="basicHttpBinding" bindingConfiguration="SrvAplCobisCuentaAhorrosBindingSOAP11"
                contract="ServicioCobisCuentaAhorros.SrvAplCobisCuentaAhorros"
                name="SrvAplCobisCuentaAhorrosBindingSOAP11" />
            <endpoint address="http://10.60.3.150:9121/GerenciaProductosPasivos/UnidadProductosServiciosBancarios/SrvAplCobisCuentaAhorrosWSService"
                binding="customBinding" bindingConfiguration="SrvAplCobisCuentaAhorrosBindingSOAP12"
                contract="ServicioCobisCuentaAhorros.SrvAplCobisCuentaAhorros"
                name="SrvAplCobisCuentaAhorrosBindingSOAP12" />
            <endpoint address="http://10.60.3.150:9121/GerenciaProductosPasivos/CuentaCorriente/SrvAplCobisCuentaCorrienteWSService"
                binding="basicHttpBinding" bindingConfiguration="SrvAplCobisCuentaCorrienteBindingSOAP11"
                contract="ServicioCobisCuentaCorriente.SrvAplCobisCuentaCorriente"
                name="SrvAplCobisCuentaCorrienteBindingSOAP11" />
            <endpoint address="http://10.60.3.150:9121/GerenciaProductosPasivos/CuentaCorriente/SrvAplCobisCuentaCorrienteWSService"
                binding="customBinding" bindingConfiguration="SrvAplCobisCuentaCorrienteBindingSOAP12"
                contract="ServicioCobisCuentaCorriente.SrvAplCobisCuentaCorriente"
                name="SrvAplCobisCuentaCorrienteBindingSOAP12" />
            <endpoint address="http://10.60.3.150:9121/GerenciaDesarrolloComercial/ListasInhibitorias/SrvAplCobisListasInhibitoriasWSService"
                binding="basicHttpBinding" bindingConfiguration="SrvAplCobisListasInhibitoriasBindingSOAP11"
                contract="ServicioCobisListasInhibitorias.SrvAplCobisListasInhibitorias"
                name="SrvAplCobisListasInhibitoriasBindingSOAP11" />
            <endpoint address="http://10.60.3.150:9121/GerenciaDesarrolloComercial/ListasInhibitorias/SrvAplCobisListasInhibitoriasWSService"
                binding="customBinding" bindingConfiguration="SrvAplCobisListasInhibitoriasBindingSOAP12"
                contract="ServicioCobisListasInhibitorias.SrvAplCobisListasInhibitorias"
                name="SrvAplCobisListasInhibitoriasBindingSOAP12" />
            <endpoint address="http://10.60.3.150:9121/GerenciaDesembolsoActivas/Transaccion/SrvAplCobisTransaccionWSService"
                binding="basicHttpBinding" bindingConfiguration="SrvAplCobisTransaccionBindingSOAP11"
                contract="ServicioCobisTransaccion.SrvAplCobisTransaccion"
                name="SrvAplCobisTransaccionBindingSOAP11" />
            <endpoint address="http://10.60.3.150:9121/GerenciaDesembolsoActivas/Transaccion/SrvAplCobisTransaccionWSService"
                binding="customBinding" bindingConfiguration="SrvAplCobisTransaccionBindingSOAP12"
                contract="ServicioCobisTransaccion.SrvAplCobisTransaccion"
                name="SrvAplCobisTransaccionBindingSOAP12" />
            <endpoint address="http://localhost:9082/COBISCorp.eCOBIS.SrvAplCobisCliente.Service/SrvAplCobisCliente"
                binding="basicHttpBinding" bindingConfiguration="SrvAplCobisClienteBindingSOAP11"
                contract="ServicioCobisCliente.SrvAplCobisCliente" name="SrvAplCobisClienteBindingSOAP11" />
            <endpoint address="http://10.60.3.150:9121/GerenciaDesarrolloComercial/VinculacionClientes/SrvAplCobisClienteWSService"
                binding="customBinding" bindingConfiguration="SrvAplCobisClienteBindingSOAP12"
                contract="ServicioCobisCliente.SrvAplCobisCliente" name="SrvAplCobisClienteBindingSOAP12" />
            <endpoint address="http://10.60.3.150:9121/GerenciaDesembolsoActivas/Convenios/SrvAplCobisConvenioWSService "
                binding="basicHttpBinding" bindingConfiguration="SrvAplCobisConvenioBindingSOAP11"
                contract="ServicioCobisConvenio.SrvAplCobisConvenio" name="SrvAplCobisConvenioBindingSOAP11" />
            <endpoint address="http://10.60.3.150:9121/GerenciaDesembolsoActivas/Convenios/SrvAplCobisConvenioWSService "
                binding="customBinding" bindingConfiguration="SrvAplCobisConvenioBindingSOAP12"
                contract="ServicioCobisConvenio.SrvAplCobisConvenio" name="SrvAplCobisConvenioBindingSOAP12" />
            <endpoint address="http://10.60.3.150:9121/GerenciaDesarrolloTIC/SrvAplCobisGeneralesWSService"
                binding="basicHttpBinding" bindingConfiguration="SrvAplCobisGeneralesBindingSOAP11"
                contract="ServicioCobisCatalogos.SrvAplCobisGenerales" name="SrvAplCobisGeneralesBindingSOAP11" />
            <endpoint address="http://10.60.3.150:9121/GerenciaDesarrolloTIC/SrvAplCobisGeneralesWSService"
                binding="customBinding" bindingConfiguration="SrvAplCobisGeneralesBindingSOAP12"
                contract="ServicioCobisCatalogos.SrvAplCobisGenerales" name="SrvAplCobisGeneralesBindingSOAP12" />
        </client>
    </system.serviceModel>
</configuration>